{deps, [
    grisp,
    grisp_connect,
    grisp_updater_grisp2,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp, rebar3_grisp_io]}.

{grisp, [
    {otp, [
        {version, "26"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {oscillator, "0.1.0"}, [
        {epmd, none},
        oscillator,
        grisp_updater,
        {grisp_updater_grisp2, load}
    ]}
]}.
